 .confirmationView {
    display: flex;
     flex-direction: column;
     align-items: flex-start;
    /*margin: 1em auto;*/


 }
ul {
      text-align: left;
   }
 ul > li {
       margin: 1em;
        font-family: Battambang;
        color: #092BA0;
   }
 .title {
     font-family: Battambang;
     font-color: #092BA0;
 }


 .total-cost, .tax {
     font-family: 'Battambang';
     font-size: 18px;
     color: #092BA0;
     font-weight: bold;
     text-align: left;
     margin-bottom: 10px;
 }

 .totalWithTax {
     font-family: 'Battambang';
     font-size: 18px;
     color: black;
     font-weight: bold;
     text-align: left;
     margin-bottom: 10px;
 }

 .total-items{
     font-family: 'Battambang';
     font-size: 18px;
     color: black;
     font-weight: bold;
     text-align: left;
     margin-bottom: 10px;
 }


